
.flex-container {
    display: flex;

}

.flex-child {
    flex: 1;
    margin-top: 20px;
}

.flex-child:first-child {
    margin-right: 20px;

}
.history-custom{
    background-color: #0d0e14;
    border: 2px solid #25c52a;


}
.profile-borders{
    border: 2px solid #25c52a;
}
