
.roulette-wrapper{
    position:relative;
    display:flex;
    justify-content:center;
    margin:0 auto;
    overflow:hidden;
    width: 90%;
    background-color: #161820;
    margin-top: 10%;
    border-radius: 30px;
    box-shadow: 0 2px 1px rgba(0,0,0,0.09),
    0 4px 2px rgba(0,0,0,0.09),
    0 8px 4px rgba(0,0,0,0.09),
    0 16px 8px rgba(0,0,0,0.09),
    0 32px 16px rgba(0,0,0,0.09);

}

.roulette-wrapper .roulette-selector{
    width:3px;
    background:grey;
    left:50%;
    height:100%;
    transform:translate(-50%,0%);
    position:absolute;
    z-index:2;
  }

.roulette-wrapper .roulette-wheel{
    display:flex;
    flex-direction: row;
}

.roulette-wrapper .roulette-wheel .roulette-row{
    display:flex;
    flex-direction: row;
}

.roulette-card{
    height:70px;
    width:70px;
    margin:3px;
    border-radius:8px;
    border-bottom:3px solid rgba(0,0,0,0.2);
    display:flex;
    align-items: center !important;
    justify-content: end !important;
    padding-bottom: 5px;
    color:white;
    font-size:1em;
    padding: 5px;
}
.roulette-house{
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#00C74D;

}
.roulette-bait-left{
    background-repeat: no-repeat;

    background-color:#F95146;
    background-size: cover;
}
.roulette-bait-right{
    background-repeat: no-repeat;

    background-color: #2D3035;
    background-size: cover;
}

.roulette-red{
    background-color: #F95146 ;
    background-repeat: no-repeat;

    background-size: cover;

}


.roulette-black{
    background-color:#2D3035;
    background-repeat: no-repeat;
}

.timer-custom{
    text-align: center;
    width: 90%;
    margin-top: 2%;
    font-weight: bold;
}
.round-time-bar[data-style="smooth"] div  {
    height: 15px;
    border-radius: 10px;
    background: linear-gradient(to bottom, #00C74D, #078b3a);
    animation: roundtime calc(var(--duration) * 1s) linear forwards;
    transform-origin: left center;

    justify-content:center;
    margin:0 auto;
    width: 90%;
  }



  .bet{


    background-color: #0d0e14;
    border-radius: 10px;
    width: 22% !important;
    height: 50% !important ;
    display: inline-block;


 }
 .bet-roulette{
     justify-content:center;


 }
 .text-bet{
     text-align: center;
     padding-top: 5%;
     padding-bottom: 5%;
     font-weight: bold;
 }
 .button-bet{
     padding-top: 5%;
     padding-bottom: 5%;
     border-radius: 10px;
     font-weight: bold;
 }
 .image-circle{

     padding: 1%;
 }
 .zoom-in-out-box:hover {

     background: #f50057;
     animation: zoom-in-zoom-out 2s;
   }

   @keyframes zoom-in-zoom-out {
     100% {
       transform: scale(1, 1);
     }
   }
   @keyframes roundtime {
     to {
       /* More performant than animating `width` */
       transform: scaleX(0);
     }
   }
 .bet-amount{
     background-color: #0d0e14;
     flex-direction: row;
     width: 90%;
     justify-content:center;
     margin:0 auto;
     margin-top: 3%;
     box-shadow: 0 2px 1px rgba(0,0,0,0.09),
     0 4px 2px rgba(0,0,0,0.09),
     0 8px 4px rgba(0,0,0,0.09),
     0 16px 8px rgba(0,0,0,0.09),
     0 32px 16px rgba(0,0,0,0.09);


 }
 .btn-bet {
     background-color:rgb(45, 48, 53) ;
     font-weight: bold;
     min-width: 50px;
     font-size: 12px;
     padding: 0 16px;
     border-radius: .5rem;
     height: 33px;
     margin-right: 5px ;
 }
