
.roulette-wrapper{
    position:relative;
    background-color: #161820;
    border-radius: 30px;
    padding: 8px 0;
    margin-top: 30px;
    box-shadow: 0 2px 1px rgba(0,0,0,0.09),
    0 4px 2px rgba(0,0,0,0.09),
    0 8px 4px rgba(0,0,0,0.09),
    0 16px 8px rgba(0,0,0,0.09),
    0 32px 16px rgba(0,0,0,0.09);
}

.roulette-selector{
    width:3px;
    background:grey;
    left:50%;
    height:100%;
    transform:translate(-50%,0%);
    position:absolute;
    z-index:2;

  }

.roulette-card{
    height:180px;
    width:136px;
    margin:3px;
    border-radius:8px;
    border-bottom:3px solid rgba(0,0,0,0.2);
    display:flex;
    align-items: center !important;
    justify-content: end !important;
    padding-bottom: 5px;
    font-size:1em;
    padding: 5px;
    
}
.roulette-house{
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#00C74D;
    background-image: url("blade.svg") !important;

}
.roulette-bait-left{
    background-repeat: no-repeat;
    background-color:#F95146;
    background-size: cover;
}
.roulette-bait-right{
    background-repeat: no-repeat;
    background-color: #2D3035;
    background-size: cover;
}

.roulette-red{
    background-color: #F95146 ;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;

}

.roulette-black{
    background-color:#2D3035;
    background-repeat: no-repeat;
}

.timer-custom{
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}
.round-time-bar  {
    height: 15px;
    border-radius: 10px;
    background-color: #2D3035 !important;

  }
.round-time-bar div{
    background: linear-gradient(to bottom, #00C74D, #078b3a);

}

.last-100{
    padding: .5rem;
    font-size: .85em;
    opacity: .5rem;
    margin-top: 30px;
    margin-bottom: 20px;
}

.score-bet{
    font-size: 16px;
    color: #fff;
    font-family: var(--font-family-base);
}

 .bet{
    background-color: #0d0e14;
    border-radius: 10px;
 }
 .bg-list{
     background-color: #242630 ;
 }
 .image-circle{
     padding: 3px;
     margin: 0 3px;
 }
 

.btn-top{
    background-color:rgb(45, 48, 53) ;
    font-weight: bold;
    font-size: 15px;
    padding: 0 16px;
    border-radius: .5rem;
    margin-right: 5px ;
    height: 35px;
    min-width: 75px;
    margin-top: 30px;
    box-shadow: 0 2px 1px rgba(0,0,0,0.09),
     0 4px 2px rgba(0,0,0,0.09),
     0 8px 4px rgba(0,0,0,0.09),
     0 16px 8px rgba(0,0,0,0.09),
     0 32px 16px rgba(0,0,0,0.09);
}

.text-wager{
    font-size: 12px;
    font-weight: 800;
}
.wager{
    background-color:rgb(45, 48, 53) ;
    font-weight: bold;
    font-size: 13px;
    padding: 0 8px;
    border-radius: 0.5rem;
    height: 41px;
    width: 99px;
    margin-top: 7px;
    box-shadow: 0 2px 1px rgba(0,0,0,0.09),
    0 4px 2px rgba(0,0,0,0.09),
    0 8px 4px rgba(0,0,0,0.09),
    0 16px 8px rgba(0,0,0,0.09),
    0 32px 16px rgba(0,0,0,0.09);
}
.input-wager{
    background-color:rgb(67, 70, 73) ;
    border: 0;
    font-weight: bold;
    font-size: 13px;
    border-radius: 0 0.5rem 0.5rem 0;
    height: 41px;
    width: 75px;
    -webkit-appearance: none;  
    -moz-appearance: textfield;
}
.max-btn{
    background-color:rgb(0, 199, 77);
    font-weight: 800;
    font-size: 12px;
    padding: 0 8px;
    border-radius: 0.5rem;
    height: 41px;
    width: 99px;
    transition: 0.3s;
    box-shadow: 0 2px 1px rgba(0,0,0,0.09),
    0 4px 2px rgba(0,0,0,0.09),
    0 8px 4px rgba(0,0,0,0.09),
    0 16px 8px rgba(0,0,0,0.09),
    0 32px 16px rgba(0,0,0,0.09);
}
.max-btn:hover{
    background-color: rgb(25, 158, 76);
}



.btn-bet {
     background-color:rgb(45, 48, 53) ;
     font-weight: bold;
     font-size: 12px;
     padding: 0 16px;
     border-radius: .5rem;
     margin-right: 5px ;

 }

.input-bet{
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
     opacity: .5;
     background: transparent;
     border: none;
     color: currentColor;
     -webkit-appearance: none;
     -webkit-appearance: none;
     margin: 0;
     -moz-appearance: textfield;


 }

.users-section{
     position: relative;
     opacity: .3;
     margin-right: 0 !important;
     width: calc(25%-1.875em);
     background-color: chartreuse;
}
@media screen and (max-width: 991px) {

    .btn-bet{
        display: none;
    }
    .bet-roulette{
        flex-direction: column;
    }
    .roulette{
        flex-direction: column;
    }
}

  .main{
    display: none;
    flex-direction: row;
    padding: 0 30px;
}
.roulette{
    width: inherit;
}
#overlay {
    display: flex;

  }
