<!DOCTYPE html>
<html>
<head><!-- BAGA PARTIAL DE HEADER -->
	<meta charset="utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="COCOLOVE" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="canonical" href="" />
	<link href="content/favicon.ico" rel="icon">
	<!--OPEN GRAPH-->
	<meta property="og:type" content="website" />
	<meta property="og:title" content="" />
	<meta property="og:description" content="" />
	<meta property="og:url" content="" />
	<meta property="og:site_name" content="" />
	<!--TWITTER-->
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:description" content="" />
	<meta name="twitter:title" content="" />
	<!--SHEETS-->
	<link rel="stylesheet" type="text/css" href="./style/reset.css">
	<link rel="stylesheet" type="text/css" href="./style/style.css">
	<link rel="stylesheet" type="text/css" href="./style/loader.css">
	<!-- FONTS -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<!-- EXTERNALS -->
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<title>RustiX</title>
</head>
<!-- BAGA PARTIAL DE MODALE -->
<div id="TOS" class="modal fullw fullh flexcol">
	<div class="container flexcol">
		<div class="top fullw flexcol center">
			<button class="closeModalBTN far fa-times-circle pad10 mr15"></button>
		</div>
		<div class="bottom thin">
			<h2 class="bold mb15">Salut m-am TOS</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud <span class="green">exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor </span> in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<br>
			<h3 class="regular mb5">Sa mor daca nu</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esseon
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<br>
			<h3 class="mb5">Adevarat ca asa e</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniamlorem,
			quis nostrud exercitation <span class="green">ullamco laboris nisi ut aliquip ex ea commodo
			consequat.lorem,</span>
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequa Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</div>
</div>
<div id="FAQ" class="modal fullw fullh flexcol">
	<div class="container flexcol">
		<div class="top fullw flexcol center">
			<button class="closeModalBTN far fa-times-circle pad10 mr15"></button>
		</div>
		<div class="bottom thin">
			<h2 class="bold mb15">Salut m-am FAQ</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud <span class="green">exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor </span> in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<br>
			<h3 class="regular mb5">Sa mor daca nu</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esseon
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<br>
			<h3 class="mb5">Adevarat ca asa e</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniamlorem,
			quis nostrud exercitation <span class="green">ullamco laboris nisi ut aliquip ex ea commodo
			consequat.lorem,</span>
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequa Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</div>
</div>
<div id="ALT" class="modal fullw fullh flexcol">
	<div class="container flexcol">
		<div class="top fullw flexcol center">
			<button class="closeModalBTN far fa-times-circle pad10 mr15"></button>
		</div>
		<div class="bottom thin">
			<h2 class="bold mb15">Salut m-am ALT</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud <span class="green">exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor </span> in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<br>
			<h3 class="regular mb5">Sa mor daca nu</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esseon
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<br>
			<h3 class="mb5">Adevarat ca asa e</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniamlorem,
			quis nostrud exercitation <span class="green">ullamco laboris nisi ut aliquip ex ea commodo
			consequat.lorem,</span>
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequa Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</div>
</div>
<!-- BAGA PARTIAL DE LOADER -->
<div id="loader" class="flexcol center">
<div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
</div>
<body>
	<!-- BAGA PARTIAL DE NAV -->
	<nav class="fullw flex between">
		<div class="left fullh flex center ml50 bold">
			<h3><span class="green">RUSTIX</span>.COM</h3>
			<button id="freeCoins" class="flex ml5 pad10">
				<i class="fas fa-coins green"></i>
				<p class="ml5">FREE COINS</p>
			</button>
		</div>
		<div class="right fullh flex center mr50 bold">
			<button class="flex pad10 thin">WITHDRAW</button>
			<div class="flex pad10">BALANCE:<span class="green ml5">33.21USD</span></div>
			<button id="depositBTN"class="flex pad10">DEPOSIT</button>
			<span>
				<button apartine="userDropDown" class="toggler flex pad10">STEAM USERNAME <i class="fas fa-caret-down ml5"></i></button>
				<div id="userDropDown" class="dropdown flexcol regular">
					<button class="fullw btnChoice"><p class="ml10">Profile</p></button>
					<button class="fullw btnChoice"><p class="ml10">Affiliate</p></button>
					<button class="fullw btnChoice"><p class="ml10">Log Out</p></button>
					<button class="fullw bggreen btnChoice"><p class="ml10 bold white">Admin Panel</p></button>
				</div>
			</span>
		</div>
		<button apartine="mobileNav" id="burgerBTN" class="toggler fas fa-bars"></button>

		<div id="mobileNav" class="flexcol center dropdown">
			<div class="flex">BALANCE:<span class="green ml5">33.21USD</span></div>
			<button class="thin fullw btnChoice">WITHDRAW</button>
			<button id="depositBTN" class="fullw white bold btnChoice">DEPOSIT</button>
			<span class="fullw">
				<button apartine="mobileNav #userDropDown" class="toggler fullw">STEAM USERNAME <i class="fas fa-caret-down ml5"></i></button>
				<div id="userDropDown" class="dropdown flexcol regular">
					<button class="fullw btnChoice"><p class="ml10">Profile</p></button>
					<button class="fullw btnChoice"><p class="ml10">Affiliate</p></button>
					<button class="fullw btnChoice"><p class="ml10">Log Out</p></button>
					<button class="fullw bggreen btnChoice"><p class="ml10 bold white">Admin Panel</p></button>
				</div>
			</span>
	</nav>
	<main>
		<!-- BAGA PARTIAL DE CHAT -->
		<section id="chat" class="flex between">
			<div class="left fullh flexcol center between">
				<span class="flexcol center fullw">
					<button class="mb5 btnModal">TOS</button>
					<button class="mb5 btnModal">FAQ</button>
					<button class="btnModal">ALT</button>
				</span>
				<button id="chatToggleBTN" class="fas fa-arrow-left mb15"></button>
			</div>
			<div class="right fullh">
				<div class="top fullw flex between">
					<span class="ml10"><p>ENG <span class="green ml5">63</span> ONLINE</p></span>
					<span class="flex around">
						<button class="fab fa-discord pad10"></button>
						<button class="fab fa-twitter pad10"></button>
						<button class="fab fa-instagram pad10"></button>
					</span>
				</div>
				<div class="middle fullw">
					<div class="chatMessage fullw flex">
						<div>
							<span class="floatleft ml10 mr5 flex center">
								<div class="userPhoto"></div>
								<div class="userLevel flexcol center ml5 mr5">43</div>
								<span>
								<button apartine="userSettingsDropDown" class="toggler fas fa-cog"></button>
								<div id="userSettingsDropDown" class="dropdown  flexcol mt5">
									<button class="fullw btnChoice">mute</button>
									<button class="fullw btnChoice">option</button>
									<button class="fullw btnChoice">option</button>
								</div>
								</span>
								<p class="ml5 bold">COCOLOVE:</p>
							</span>	
							<p class="chatText ml10 mr10">Sa-mi bag pula in word-break:break-word ca am stat 1 ora sa fac cacatu asta</p>	
						</div>
					</div>
					<div id="emojiBox" class="dropdown flex around">
						<button class="emoji btnChoice"></button>
						<button class="emoji btnChoice"></button>
						<button class="emoji btnChoice"></button>
						<button class="emoji btnChoice"></button>
						<button class="emoji btnChoice"></button>
						<button class="emoji btnChoice"></button>
						<button class="emoji btnChoice"></button>
						<button class="emoji btnChoice"></button>
					</div>
				</div>
				<div class="bottom fullw flex center">
					<input type="text"placeholder="type something...">
					<button apartine="emojiBox" class="fas fa-grin ml10 toggler" style="color:rgba(255,255,255,.1);font-size:2rem"></button>
				</div>
			</div>
		</section>
		<section id="content">
			<div id="test" class="flexcol center">
				<div id="wheel" class="flexcol center">
					<i class="fas fa-caret-down" style="font-size:3rem;position:relative;top:23px;color:'#f9f9f9';"></i>
					<canvas id="canvas" width="300" height="300"></canvas>
				</div>
				<button onClick="startSpin();" id="spin_button" class="spin pad10 bggreen mt15">spin me</button>
			</div>
		</section>
	</main>

</body>

<script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
<script type="text/javascript" src="./scripts/Winwheel.js"></script>
<script type="text/javascript" src="./scripts/script.js"></script>
</html>

