.header{
    background-color: rgba(16,18,26,1);
    padding: .75rem 0;
}
.container-fluid a:first-child{
    text-decoration: none;
}
.sidebar{
    border-right: none !important;
}


.green{
	color:#14DB1A;
    font-weight: 600;
}
.body{
    color: #F9F9F9;
    font-family: Neometric;
    background:#191B28;
    line-height: 16px;
    font-size: 16px;
    word-spacing: 0;
    text-size-adjust: none;
}
.main{
    display: flex;
    background-color: #1A1D29;
    width: 75%;
    height: 100%;
    overflow-y: auto;
}
.footer{
    background-color:#0d0e14;
}
.modal-content{
    background-color: #1A1D29 !important

}
.left-sidebar{
    background-color: rgba(35,38,51,1);
    width: 25%;
}
.sidebar{
    width: 50px;
    border-right: 1px solid black;
}

.white{

    font-weight: 600;
    color: rgb(255, 253, 253);

}

.color{
    margin: 0 1rem;
    padding: .9rem 1.2rem;
    background-color: rgba(0,199,77,1);
    align-items: center;
    stroke: rgba(26,29,41,0.271);
    stroke-width: 3px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
    border-radius: 10px;
    color:  rgba(242,242,242,1);


}
.text-white{
    color: rgb(255, 255, 255);
    font-weight: 600;
}


.font{
    font-size: 15px;
}

.container-fluid .green{
    font-size: 50px;
    font-family: Neometric;
    font-weight: bold;
    color: rgba(242,242,242,1);
}


.color:hover{
    background-color: #25c52a;
}

.hov-green:hover{
    background-color: #25c52a !important;
}
.balance, #deposit-button{
    background-color: #1A1D29;
    padding: .9rem 1.2rem;
    align-items: center;
    stroke: rgba(26,29,41,0.271);
    stroke-width: 3px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
    border-radius: 10px;
    margin-left: 1rem;
    color:rgba(242,242,242,1);
}

#deposit-button{
    background-color: #00C74D;
}

img.overflow-visible{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
ul.dropdown-menu {
    margin-top:33px !important;
    min-width: 13.7rem !important;
    margin-right: -3.70rem !important;
    font-size: 18px;
    color: #10121A;
}
.ul.dropdown-menu:hover{
    background-color: #E6E6E6;
}
ul.second-one{
    margin-right: -1rem !important;
}
.navbar-collapse{
    align-items: center;
}
.navbar-text{
    align-items: center;
}


@media screen and (max-width: 991px) {
    .navbar-nav {
      background-color: #ffffff;
      width: 100% !important;
      margin-top: 50px !important;

    }

    ul.dropdown-menu{
        border: none !important;
        margin: 0px !important;
        width: 100% !important;
    }

    li.nav-item{
        font-size: 18px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;

    }
    #sidebar-and-content {
        flex-direction: column-reverse;
    }
    .main{
        width: 100%;
    }
    .left-sidebar{
        width: 100%;
    }
    #overlay {
        width: 100%;
    }
    .left-sidebar{
        flex-direction: column;
    }

}
#overlay {
    display: none;
    background-color: #1A1D29;
    border-top: 1px solid black;
    width: 75%;
    height: 100%;
  }

