.theme-fw-1{
    font-weight: 400;
}
.theme-fw-2{
    font-weight: 600;
}
.theme-fw-3{
    font-weight: 700;
}

.theme-bc-1{
    background-color: #1A1D29;
}
.theme-bc-2{
    background-color: #141620;
}
.theme-bc-3{
    background-color:#00C74D;
}

.theme-tc-1{
    color: white;
}
.theme-tc-2{
    color:#00C74D;
}

body{
    font-family: 'Neometric', sans-serif;
    line-height: 16px;
    font-size: 16px;
    word-spacing: 0;
    text-size-adjust: none;
}


.header{
    padding: .75rem 0;
}
.container-fluid a:first-child{
    text-decoration: none;
}
.sidebar{
    border-right: none !important;
    background: none;
}

.button-sidebar{
    border-radius: 10px;

}
a.log-in{
    color: white;
}
.site-title{
    font-size: 42px;
}

.main{
    display: flex;
    background-color: #1A1D29;
    width: 75%;
    height: 100%;
    overflow-y: auto;
}
.footer{
    background-color:#0d0e14;
}
.modal-content{
    background-color: #1A1D29 !important

}
.left-sidebar{
    display: flex;
    flex-direction: column;
    width: 25%;
}
.sidebar{
    border-right: 1px solid black;
}

.white{

    font-weight: 600;
    color: rgb(255, 253, 253);

}

.color{
    margin: 0 1rem;
    padding: .9rem 1.2rem;
    background-color: rgba(0,199,77,1);
    align-items: center;
    stroke: rgba(26,29,41,0.271);
    stroke-width: 3px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
    border-radius: 10px;
    color:  rgba(242,242,242,1);


}
.text-white{
    color: rgb(255, 255, 255);
    font-weight: 600;
}


.font{
    font-size: 15px;
}

.container-fluid .green{
    font-size: 50px;
    font-weight: bold;
    color: rgba(242,242,242,1);
}


.color:hover{
    background-color: #25c52a;
}

.hov-green:hover{
    background-color: #25c52a !important;
}
.balance, #deposit-button{
    background-color: #1A1D29;
    padding: .9rem 1.2rem;
    align-items: center;
    stroke: rgba(26,29,41,0.271);
    stroke-width: 3px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
    border-radius: 10px;
    margin-left: 1rem;
    color:rgba(242,242,242,1);
}

#deposit-button{
    background-color: #00C74D;
}

img.overflow-visible{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
ul.dropdown-menu {
    margin-top:33px !important;
    min-width: 13.7rem !important;
    margin-right: -0.70rem !important;
    font-size: 18px;
    color: #10121A;
}
.ul.dropdown-menu:hover{
    background-color: #E6E6E6;
}
ul.second-one{
    margin-right: -1rem !important;
}
.navbar-collapse{
    align-items: center;
}
.navbar-text{
    align-items: center;
}
#navbarSupportedContent{
    flex-grow: 0.5;
}

@media screen and (max-width: 991px) {
    .navbar-nav {
      background-color: #ffffff;
      width: 100% !important;
      margin-top: 15px;

    }

    ul.dropdown-menu{
        border: none !important;

        width: 100% !important;
    }

    li.nav-item{
        font-size: 18px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
        background-color:#1A1D29;
    }

    #sidebar-and-content {
        flex-direction: column-reverse;
    }
    .main{
        width: 100%;

    }
    .left-sidebar{
        width: 100%;
        display: none;
    }
    #overlay {
        width: 100%;
    }

    .site-title{
        font-size: 32px;
    }
    #deposit-button{
        margin-top:15px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}
#overlay {
    display: none;
    background-color: #1A1D29;
    border-top: 1px solid black;
    width: 75%;
    height: 100%;

  }
  .control{
      display: none;
      padding-top: 10px;
  }
