.header{
    background-color: #0d0e14;
}
.container-fluid a:first-child{
    text-decoration: none;
}

.error{
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    text-align: center;
    align-items: center;
    width: 450px;
    height: 30px;
    
}
.error div:first-child{
    background-color:#F95146;
    width: 100%;
    height: 120px;
    border-radius: 20px 20px 0 0;
}

.error div:last-child{
    background-color: #0d0e14;
    width: 100%;
    font-weight: bold;
    border-radius: 0 0 20px 20px;
}
.error div:last-child p:first-child{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 30px;
}
.error button{
    width: 80px;
    height: 30px;
    background-color:#F95146 ;
    margin: 20px 0;
    border-radius: 20px;
}
.play-button {
    opacity: 0;
    align-items: center;
    transition: opacity .35s ease;
    text-align: center;
    color: white;
    font-weight: bold;
    width: 90px;
    height: 45px;
    background-color:#14DB1A ;
    text-decoration: none;
    border-radius: .5rem;
    box-shadow: 0 2px 1px rgba(0,0,0,0.09),
     0 4px 2px rgba(0,0,0,0.09),
     0 8px 4px rgba(0,0,0,0.09),
     0 16px 8px rgba(0,0,0,0.09),
     0 32px 16px rgba(0,0,0,0.09);
  }

.card-game{
    width: 317px;
    background-color: #141620 !important;
    box-shadow: #2f7e32 0px 5px 15px;
    border: 0 !important;
    border-radius: 0.40rem 0.40rem 0.25rem 0.25rem !important ;

}
.card-img-top-wrapper{
    width: 317px;
    height: 154.474px;
    border-radius: 0.25rem 0.25rem 0 0 ;
    background-color:#1A1D29 ;
  }
  .card-overlay {
    position: absolute;
    width: 317px;
    height: 210.467px;
    opacity: 0;
    transition: .5s ease;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0.25rem 0.25rem 0 0 ;
    }

  .card-game:hover .card-overlay {
      opacity: 1;
    }
    .card-game:hover .play-button {
        opacity: 1;
        transition: 0.5s;
      }
.game-text{
    color: rgb(255, 255, 255);
    align-items: center;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
}







.green{
	color:#14DB1A;
    font-weight: 600;
}
.body{
    color: #F9F9F9;
    font-family: 'Titillium Web', sans-serif;
    background:#191B28;
    line-height: 16px;
    font-size: 16px;
    word-spacing: 0;
    text-size-adjust: none;
}
.main{
    display: flex;
    background-color: #1A1D29;
    border-top: 1px solid black;
    width: 75%;
    height: 100%;
    overflow-y: auto;
}
.footer{
    background-color:#0d0e14;
    border-top: 1px solid black;
}
.modal-content{
    background-color: #1A1D29 !important

}
.left-sidebar{
    background-color: #0d0e14;
    border-right: 1px solid black;
    width: 25%;
}
.sidebar{
    width: 50px;
    border-right: 1px solid black;
}

.chat-input{
    border: 1px solid rgba(255,255,255, .15);
    background-color:#1A1D29;
    color:white
}
.message{
    display: flex;
    align-items: center;
    margin-bottom: 0;


}
.message-user{
    display: flex;
    float:left;
    margin-right: 5px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
}


.message-level{
    word-break: break-word;
    line-height: 1.6rem;
    background-color: rgba(255,255,255,.2);
    padding: 0 4px;
}
.message-username{
    margin-left: 5px;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.2rem;
    margin-bottom: 0;
    display: block;

}

.message-text{

    display: block;
    word-break: break-word;
    overflow-wrap: break-word;
    line-height: 1.6rem;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 1rem;
    margin-bottom: 0;
    border-radius: 10px 10px 10px 0;

}
.chat-form{
    background-color:#141620;
    border-top: 1px solid black;
}
.chat-wrapper{
    overflow-y: auto;
    height: 0px;
    background-color:#1A1D29;
    flex-direction: column;
}

.white{

    font-weight: 600;
    color: rgb(255, 253, 253);

}

.color{

    background-color: #14DB1A;
    align-items: center;

}
.text-white{
    color: rgb(255, 255, 255);
    font-weight: 600;
}


.font{
    font-size: 15px;
}

.chat-top{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
.color:hover{
    background-color: #25c52a;
}

.hov-green:hover{
    background-color: #25c52a !important;
}

img.overflow-visible{
    width: 32px;
    height: 32px;
}
ul.dropdown-menu {
    margin-top:33px !important;
    min-width: 13.7rem !important;
    margin-right: -3.70rem !important;
}
ul.second-one{
    margin-right: -1rem !important;
}



@media screen and (max-width: 991px) {
    .navbar-nav {
      background-color: #ffffff;
      width: 100% !important;
      margin-top: 50px !important;

    }

    ul.dropdown-menu{
        border: none !important;
        margin: 0px !important;
        width: 100% !important;
    }
    .black {
        color: rgb(17, 17, 17) !important;
    }
    li.nav-item{
        margin-left: 0px !important;
        margin-right: 0px !important;

    }
    #sidebar-and-content {
        flex-direction: column-reverse;
    }
    .main{
        width: 100%;
    }
    .left-sidebar{
        width: 100%;
    }
    #overlay {
        width: 100%;
    }
    .left-sidebar{
        flex-direction: column;
    }

}
#overlay {
    display: none;
    background-color: #1A1D29;
    border-top: 1px solid black;
    width: 75%;
    height: 100%;
  }

.chat-wrapper::-webkit-scrollbar {
      width: .5em;
  }

.chat-wrapper::-webkit-scrollbar-track {
      background-color: rgb(226, 4, 4);
  }

.chat-wrapper::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(145, 17, 17, 0.3);
  }

.chat-wrapper {
    scrollbar-color: rgb(45, 48, 53) #141620;
    scrollbar-width: thin;
}
