.header{
    background-color: #0d0e14;
}
.green{
	color:#14DB1A;
    font-weight: 600;
}
.body{
    color: #F9F9F9;
    font-family: 'Prompt', sans-serif;

    line-height: 16px;
    font-size: 16px;
    word-spacing: 0;
    text-size-adjust: none;
}
.main{
    background-color: #1A1D29;
    border-top: 1px solid black;
}
.footer{
    background-color:#0d0e14;
    border-top: 1px solid black;
}
.modal-content{
    background-color: #1A1D29 !important

}
.left-sidebar{
    background-color: #0d0e14;
    border-right: 1px solid black;

}
.sidebar{
    width: 50px;
    border-right: 1px solid black;
}

.chat-input{
    border: 1px solid rgba(255,255,255, .15);
    background-color:#1A1D29;
}
.message{
    background-color: rgba(255,255,255,.05);
    display: flex;
    align-items: center;
    margin-bottom: 0;

}
.message-user{
    display: flex;
    float:left;
    margin-right: 5px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
}
.message-level{
    word-break: break-word;
    line-height: 1.6rem;
    background-color: rgba(255,255,255,.2);
    padding: 0 4px;
}
.message-username{
    margin-left: 5px;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.2rem;
    margin-bottom: 0;
    display: block;

}

.message-text{
    display: block;
    word-break: break-word;
    overflow-wrap: break-word;
    line-height: 1.6rem;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 1rem;
    margin-bottom: 0;

}
.chat-form{
    background-color:#141620;
    border-top: 1px solid black;
}
.chat-wrapper{
    overflow-y: auto;
    height: 0px;
    background-color:#1A1D29;
}

.white{

    font-weight: 600;
    color: rgb(255, 253, 253);

}

.color{

    background-color: #14DB1A;
    align-items: center;

}
.text-white{
    color: rgb(255, 255, 255);
    font-weight: 600;
}


.font{
    font-size: 15px;
}

.chat-top{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
.color:hover{
    background-color: #25c52a;
}

.hov-green:hover{
    background-color: #25c52a !important;
}

.inventory-wrapper{
    overflow-y: auto;
    background-color:#1A1D29;
}
.item{

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.border-dark:hover{
    background-color: #191b26;

}

div.item-quantity-input{
    width: 150px;
}
div.item-quantity-input span{
    background-color: #171922;
    color: white;
}
div.item-quantity-input input{
    background-color: #161820;
    color: white;
}
i.bi{
    font-size: calc(1.275rem + .3vw);
}
img.overflow-visible{
    width: 32px;
    height: 32px;
}
ul.dropdown-menu {
    margin-top:33px !important;
    min-width: 13.7rem !important;
    margin-right: -3.70rem !important;
}
ul.second-one{
    margin-right: -1rem !important;
}

@media screen and (max-width: 991px) {
    .navbar-nav {
      background-color: #ffffff;
      width: 100% !important;
      margin-top: 50px !important;


    }
    ul.dropdown-menu{
        border: none !important;
        margin: 0px !important;
        width: 100% !important;

    }
    .black {
        color: rgb(17, 17, 17) !important;
    }
    .ped{
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;

    }
    li.nav-item{
        margin-left: 0px !important;
        margin-right: 0px !important;

    }



  }



body{
    font-family: 'Titillium Web', sans-serif;
    background:#191B28;
  }

  .roulette-wrapper{
    position:relative;
    display:flex;
    justify-content:center;
    width:150vh;
    margin:0 auto;
    overflow:hidden;
  }

  .roulette-wrapper .roulette-selector{
    width:3px;
    background:grey;
    left:50%;
    height:100%;
    transform:translate(-50%,0%);
    position:absolute;
    z-index:2;
  }

  .roulette-wrapper .roulette-wheel{
    display:flex;
    flex-direction: row;
  }

  .roulette-wrapper .roulette-wheel .roulette-row{
    display:flex;
    flex-direction: row;
  }

  .roulette-card{
    height:70px;
    width:70px;
    margin:3px;
    border-radius:8px;
    border-bottom:3px solid rgba(0,0,0,0.2);
    display:flex;
    align-items: center !important;
    justify-content: end !important;
    padding-bottom: 5px;
    color:white;
    font-size:1em;
    
  }
.roulette-house{
    background-image: url("../assets/R.png");
    background-repeat: no-repeat;
    background-size: cover;
    background:#00C74D;

}
.roulette-bait-left{
    background-image: url("../assets/Hook.svg");
    background-repeat: no-repeat;
    
    background:#F95146;
    background-size: cover;

}
.roulette-bait-right{
    background-image: url("../assets/Hook.svg");
    background-repeat: no-repeat;
    
    background:#2D3035;
    background-size: cover;

}

  .roulette-red{
    background-image: url("../assets/blade.svg") !important;
    background-color: #F95146 ;
    background-repeat: no-repeat;
    
    background-size: cover;
   
    
  }
  

  .roulette-black{
    background-image: url("../assets/Shield.svg");
    background:#2D3035;
  }



  *{
    box-sizing:border-box;
  }
.rounded-2:hover{
        background-color: #25c52a !important;
}
.sell-custom{
    border-top: 1px solid black;
    height: 55px;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    margin-top: 20px;
}

.flex-child:first-child {
    margin-right: 20px;
}
.history-custom{
    background-color: #0d0e14;
    border: 2px solid #25c52a;
}
