.header{
    background-color: #0d0e14;
}
.green{
	color:#14DB1A;
    font-weight: 600;
}
.body{
    color: #F9F9F9;
    font-family: 'Prompt', sans-serif;
    font-weight: 500;
    line-height: 16px;
    font-size: 16px;
    word-spacing: 0;
    text-size-adjust: none;
}
.main{
    background-color: #1A1D29;
    border-top: 1px solid black;
}
.footer{
    background-color:#0d0e14;
    border-top: 1px solid black;
}
.modal-content{
    background-color: #1A1D29 !important

}
.left-sidebar{
    background-color: #0d0e14;
    border-right: 1px solid black;

}
.sidebar{
    width: 50px;
    border-right: 1px solid black;
}

.chat-input{
    border: 1px solid rgba(255,255,255, .15);
    background-color:#1A1D29;
}
.message{
    background-color: rgba(255,255,255,.05);
    display: flex;
    align-items: center;
    margin-bottom: 0;

}
.message-user{
    display: flex;
    float:left;
    margin-right: 5px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
}
.message-level{
    word-break: break-word;
    line-height: 1.6rem;
    background-color: rgba(255,255,255,.2);
    padding: 0 4px;
}
.message-username{
    margin-left: 5px;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.2rem;
    margin-bottom: 0;
    display: block;

}

.message-text{
    display: block;
    word-break: break-word;
    overflow-wrap: break-word;
    line-height: 1.6rem;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 1rem;
    margin-bottom: 0;

}
.chat-form{
    background-color:#141620;
    border-top: 1px solid black;
}
.chat-wrapper{
    overflow-y: auto;
    height: 0px;
    background-color:#1A1D29;
}

.white{

    font-weight: 600;
    color: rgb(255, 253, 253);

}

.color{

    background-color: #14DB1A;
    align-items: center;

}
.text-white{
    color: rgb(255, 255, 255);
    font-weight: 600;
}


.font{
    font-size: 15px;
}
.chat{

}
.chat-top{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
.color:hover{
    background-color: #25c52a;
}

.hov-green:hover{
    background-color: #25c52a !important;
}

.inventory-wrapper{
    overflow-y: auto;
    height: 90%;
    background-color:#1A1D29;
}
.item{

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.border-dark:hover{
    background-color: #191b26;

}

div.item-quantity-input{
    width: 150px;
}
div.item-quantity-input span{
    background-color: #171922;
    color: white;
}
div.item-quantity-input input{
    background-color: #161820;
    color: white;
}
i.bi{
    font-size: calc(1.275rem + .3vw);
}
img.overflow-visible{
    width: 32px;
    height: 32px;
}
ul.dropdown-menu {
    margin-top:35px !important;
    margin-left:-12px !important;
}

body{
    font-family: 'Titillium Web', sans-serif;
    background:#191B28;
  }

  .roulette-wrapper{
    position:relative;
    display:flex;
    justify-content:center;
    width:100%;
    margin:0 auto;
    overflow:hidden;
  }

  .roulette-wrapper .roulette-selector{
    width:3px;
    background:grey;
    left:50%;
    height:100%;
    transform:translate(-50%,0%);
    position:absolute;
    z-index:2;
  }

  .roulette-wrapper .roulette-wheel{
    display:flex;
    flex-direction: row;
  }

  .roulette-wrapper .roulette-wheel .roulette-row{
    display:flex;
    flex-direction: row;
  }

  .roulette-wrapper .roulette-wheel .roulette-row .card{
    height:75px;
    width:75px;
    margin:3px;
    border-radius:8px;
    border-bottom:3px solid rgba(0,0,0,0.2);
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    font-size:1.5em;
  }

  .card.red{
    background:#F95146;
  }

  .card.black{
    background:#2D3035;
  }

  .card.green{
    background:#00C74D;
  }

  *{
    box-sizing:border-box;
  }
