.card-game{
    display:flex;
    flex-direction: column;
    width:25%;
    margin:10px;
    border: 0 ;
    border-radius: 10px ;
    min-height: 220px;
    max-height: 25vh;
    min-width: 260px;
    text-decoration: none;
}
.top-card{
    display: flex;
    padding: 1rem !important;
    border-radius: 10px 10px 0 0;
    background-color: #141620;
}
.card-img-top-wrapper{
    width: 100%;
    height: 77%;
    background-color:#1A1D29 ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center;
    border-radius: 0 0 10px 10px;
  }
.card-overlay {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .5s ease;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 10px 10px ;
}
.play-button {
    display: flex;
    opacity: 0;
    align-items: center;
    transition: opacity .35s ease;
    text-align: center;
    color: white;
    font-weight: bold;
    justify-content: center;
    width: 90px;
    height: 45px;
    background-color:#00C74D ;
    text-decoration: none;
    border-radius: .5rem;
    box-shadow: 0 2px 1px rgba(0,0,0,0.09),
     0 4px 2px rgba(0,0,0,0.09),
     0 8px 4px rgba(0,0,0,0.09),
     0 16px 8px rgba(0,0,0,0.09),
     0 32px 16px rgba(0,0,0,0.09);
  }





.card-game:hover .card-overlay {
    opacity: 1;
}
.card-game:hover .play-button {
    opacity: 1;
    transition: 0.5s;
}
.games-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #232633;
    height: 100%;
    margin-top: 15px;

}
.game-text{
    color: #00C74D;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
}
.welcome-text{
    font-size: 2.188rem;
    font-weight: bold;
    text-align: center;
}
.gamemodes-text{
    display: flex;
    justify-content: center;
    padding-top: 8vh;
    font-size: 1.563rem;
    font-weight: bold;
}
.head-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
}
.small-text {
    color: #999999;
    font-size: 1.063rem;
}
.link-games{
    pointer-events: none;
    text-decoration: none;
}
button#btn-1{
    display: none;
}

@media screen and (min-width: 991px) {
    button#btn-1{
        display: none !important;
    }
    div#myDIV{
        display: none !important;
    }
}
@media screen and (max-width: 991px) {
    .card-game{
        height:25%;

    }
    .card-img-top-wrapper{
        height: 166px;
        background-color: #1A1D29;
      }
    .link-games{
        pointer-events: painted;
        text-decoration: none;
    }
    div.games-div{
        display: flex;
        flex-wrap: wrap;
        min-height: 220px;
        max-height: 25vh;
        min-width: 260px;
        background-color: transparent;
    }
    .main{
        justify-content: center;
    }

    .gamemodes-text{
        padding-top: 0;
    }
    p.play-button{
        display: none;
    }
    li.free-coins-mobile{
        flex-direction: column;
    }
    div.top-card{
        background-color: #0b0c0f87;
    }
    button#btn-1{
        display: flex;
        margin: auto;
    }
}
@media screen and (max-width: 991px) {
    button#btn-1{
        display: flex;
        border-radius: 10px;
        min-height: 40px;
        height: 5.7vh;
        max-height: 50px;
        min-width: 100px;
        width: 100%;
        border: 3px solid #261d1d36;
        font-weight: 600;
        background-color: #1A1D29;
        justify-content: center;
        padding: 10px 0;
        margin-top: 15px;
    }
    div.sidebar{
        width: 90.75%;
    }
    button.button-sidebar{
        height: 80%;
        width: 22%;
        align-self: center;
        border: 2px solid #F2F2F2;
    }
    div.sidebar span{
        margin-left: 20px;
        font-size: 13px;
        text-align: center;
        
    }
    button.free-coins{
        font-weight: 400;
        font-size: 12px;
    }
}
@media screen and (max-width: 572px) {
    a.card-game{
        width: 58vw;
    }
    div.games-div{
        max-height: 54vh;
    }
}