.card-game{
    display:flex;
    flex-direction: column;
    width:25%;
    margin:10px;
    border: 0 ;
    border-radius: 10px ;
    min-height: 220px;
    max-height: 25vh;
    min-width: 260px;
}
.top-card{
    display: flex;
    padding: 1rem !important;
    border-radius: 10px 10px 0 0;
    background-color: #141620;
}
.card-img-top-wrapper{
    position: relative;
    width: 100%;
    height: 77%;
    background-color:#1A1D29 ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center;
    border-radius: 0 0 10px 10px;
  }
.card-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: .5s ease;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 10px 10px ;
}
.play-button {
    display: flex;
    opacity: 0;
    align-items: center;
    transition: opacity .35s ease;
    text-align: center;
    color: white;
    font-weight: bold;
    justify-content: center;
    width: 90px;
    height: 45px;
    background-color:#00C74D ;
    text-decoration: none;
    border-radius: .5rem;
    box-shadow: 0 2px 1px rgba(0,0,0,0.09),
     0 4px 2px rgba(0,0,0,0.09),
     0 8px 4px rgba(0,0,0,0.09),
     0 16px 8px rgba(0,0,0,0.09),
     0 32px 16px rgba(0,0,0,0.09);
  }





.card-game:hover .card-overlay {
    opacity: 1;
}
.card-game:hover .play-button {
    opacity: 1;
    transition: 0.5s;
}
.games-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 3rem;
    margin-left: 3rem;
    margin-top: 1rem;
    background-color: #232633;
    height: 100%;

}
.game-text{
    color: #00C74D;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
}
.welcome-text{
    font-size: 2.188rem;
    font-weight: bold;
}
.gamemodes-text{
    display: flex;
    justify-content: center;
    padding-top: 8vh;
    font-size: 1.563rem;
    font-weight: bold;
}
.head-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
}
.small-text {
    color: #999999;
    font-size: 1.063rem;
}
.link-games{
    pointer-events: none;
    text-decoration: none;
}

@media screen and (max-width: 991px) {
    .card-game{
        height:25%;

    }
    .card-img-top-wrapper{
        height: 80%;
        background-color: #1A1D29;
      }
    .link-games{
        pointer-events: painted;
        text-decoration: none;
    }
    .games-div{
        flex-wrap: wrap;
        min-height: 220px;
        max-height: 25vh;
        min-width: 260px;
        background-color: transparent;
    }
    .main{
        justify-content: center;
    }
    div #sidebar-and-content{
        height: auto !important;
    }
    .gamemodes-text{
        padding-top: 0;
    }
}
