
.roulette-wrapper{
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    position:relative;
    background-color: #161820;
    border-radius: 30px;
    padding: 8px 0;
    margin-top: 30px;
    box-shadow: 0 2px 1px rgba(0,0,0,0.09),
    0 4px 2px rgba(0,0,0,0.09),
    0 8px 4px rgba(0,0,0,0.09),
    0 16px 8px rgba(0,0,0,0.09),
    0 32px 16px rgba(0,0,0,0.09);
}

.roulette-selector{
    width: 1%;
    background-image: url("../../assets/separator.png");
    left:50%;
    height:100%;
    transform:translate(-50%,0%);
    position:absolute;
    z-index:2;

  }
  .bi.bi-x{
      font-size: 1.1rem;
      vertical-align: middle;
  }

  .input-mult{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    opacity: .5;
    background: transparent;
    border: none;
    color: currentColor;
    -webkit-appearance: none;
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield;
}

.bet-section{
    display: flex;
    background-color: #0d0e14;
    margin-top: 30px;
    border-radius: .3rem;
    box-shadow: 0 2px 1px rgba(0,0,0,0.09),
    0 4px 2px rgba(0,0,0,0.09),
    0 8px 4px rgba(0,0,0,0.09),
    0 16px 8px rgba(0,0,0,0.09),
    0 32px 16px rgba(0,0,0,0.09);


}
.bet-amount{
    display: flex;
    flex-direction: column;
    font-size: 12px ;
    font-weight: 400;
    margin-left: 5px;
    margin: .5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

 }
 .btn-clear {
    font-weight: bold;
    font-size: 12px;
    padding: 8px 16px;
    border-radius: .5rem;
    margin-right: 5px ;

}
.btn-bet {
     background-color:rgb(45, 48, 53) ;
     font-weight: bold;
     font-size: 12px;
     padding: 8px 16px;
     border-radius: .5rem;
     margin-right: 5px ;

 }

.x-roulette-card-last{
    font-size: 15px;
    text-align: center;
    font-weight:bold;
    min-width: 70px;
    min-height: 30px;
    border-radius:8px;
    margin:3px;
    padding: 6px 5px;
    box-shadow: 0 2px 1px rgba(0,0,0,0.09),
    0 4px 2px rgba(0,0,0,0.09),
    0 8px 4px rgba(0,0,0,0.09),
    0 16px 8px rgba(0,0,0,0.09),
    0 32px 16px rgba(0,0,0,0.09);
}
.roulette-card{
    font-weight: bold;
    height:180px;
    width:136px;
    margin:3px;
    border-radius:20px;
    border-bottom:3px solid rgba(0,0,0,0.2);
    display:flex;
    flex-direction: column;
    align-items: center !important;
    font-size:1em;
    padding: 5px;
    justify-content: space-evenly;
    box-shadow: 0 2px 1px rgba(0,0,0,0.09),
    0 4px 2px rgba(0,0,0,0.09),
    0 8px 4px rgba(0,0,0,0.09),
    0 16px 8px rgba(0,0,0,0.09),
    0 32px 16px rgba(0,0,0,0.09);
}
.color-1{
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#717171  ; 

}

.color-2{
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#657769  ;
    
}
.color-3{
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#7b9371 ;

}
.color-4{
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#7b9371;

}
.color-5{
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#79ad62 ;
}
.color-6{
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#77be56 ;

}
.color-7{
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#46c957 ;
}
.color-8{
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#32da47;
}
.color-9{
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#18d231;
}
.color-10{
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#25dc32;
}
.color-11{
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#30ff01;
}
.color-12{
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#6c43ff;
}
.color-13{
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#8923ff;
}
.color-14{
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#cc00ff;
}
.color-15{
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#ff00e0;
}
.color-16{
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#fe00ae;
}
.color-17{
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#fe007a;
}
.color-18{
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#fe2200;
}
.color-19{
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#ff5100;
}
.x-roulette-rainbow{
    background-size: cover;
    background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
    -webkit-animation: rainbow 18s linear infinite;
    -z-animation: rainbow 8s linear infinite;
    -o-animation: rainbow 8s linear infinite;
    animation: rainbow 8s linear infinite;
    background-size: 800% 800%;

}
@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

.timer-custom{
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

.round-time-bar  {
    display: flex;
    flex-shrink: 0;
    border-radius: 50rem;
    height: 15px;
    border-radius: 10px;
    background-color: #2D3035 !important;

  }
.round-time-bar div{
    background: linear-gradient(to bottom, #00C74D, #078b3a);

}
.roulette-card img{
    padding-top: 20px;
}

.last-10{
    display: flex;
    justify-content: start;
    border-radius: .3rem;
    padding: 1rem 0;
    
}

.score-bet{
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    font-family: var(--font-family-base);
}

 .image-circle{
     padding: 3px;
     margin: 0 3px;
 }

.btn-top{
    background-color:rgb(45, 48, 53) ;
    font-weight: bold;
    font-size: 15px;
    padding: 0 16px;
    border-radius: .5rem;
    margin-right: 5px ;
    height: 35px;
    min-width: 75px;
    margin-top: 30px;
    box-shadow: 0 2px 1px rgba(0,0,0,0.09),
     0 4px 2px rgba(0,0,0,0.09),
     0 8px 4px rgba(0,0,0,0.09),
     0 16px 8px rgba(0,0,0,0.09),
     0 32px 16px rgba(0,0,0,0.09);
}


.input-bet{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    opacity: .5;
    background: transparent;
    border: none;
    color: currentColor;
    -webkit-appearance: none;
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield;

 }
 .bet-list{
    display: flex;
    flex-direction: column;
    margin: .5rem;
    background-color: #0d0e14;
    border-radius: 10px;
    width: 25%;
}

@media screen and (max-width: 991px) {

    .bet-roulette{
        flex-direction: column;
    }
    .roulette{
        flex-direction: column;
    }
    .bet-amount{
        flex-direction: column;
    }
}

.main{
    display: none;
    flex-direction: row;
    padding: 0 30px;
}
.roulette{
    width: inherit;
    display: flex;
    flex-direction: column;
}
#overlay {
    display: flex;

  }
.user-bets{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin-right: .5rem;
}
