.box-div{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

}
.head-profile{
    height: 7.40%;
    font-size: 40px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    background-color: #0d0e14;
}

.modal-header .btn-close{
    color: #fff;
    opacity: 1;
    width: .5em;
    height: .5em;
    border: none;
    filter: brightness(0) invert(1);
}


.text-edit{
    color: rgba(242,242,242,1);
    text-decoration: none;
}
.box-columns{
    display: flex;
    flex-direction: row;

}
.col-div{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;

}
.first-span-edit{
    display: flex;
    font-size: 25px;
    height: calc(4.63vh * 2);
    min-height: 80px;
}
.edit-setting{
    display: flex;
    font-size: 25px;
    margin: 0 auto;
}
.total-deposited-settings{
    display: flex;
    font-size: 18px;
    height: 9.26vh;
    align-items: center;
    min-height: 80px;
}

.total-deposited{
    display: flex;
    padding: 0 5%;
    font-size: 18px;
    min-height: 80px;
    height: calc(4.63vh * 2) ;

}
.small-div{
    height: calc(4.63vh) !important;
    min-height: 40px !important; 
    padding: 0 20px !important;
}
.dif-hight{
    height: calc(4.63vh * 3) !important;
    min-height: 120px !important; 
}
.total-deposited-update{
    display: flex;
    font-size: 18px;
}
.form-inp{
    border: none;
    text-decoration: none;

}
.form-control{
    border: none;
    outline: none;
    box-sizing:unset;
    font-size: 18px;
    padding: 0;
}

.form-control:focus, input:focus{
outline: none;
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: rgba(242,242,242,1);
}

.scroll .total-deposited{
    display: flex;
    padding: 0 1%;
    font-size: 18px;

}
.total-deposited a:hover{
    color: inherit;
    text-decoration: none;
}
.total-deposited input{
    background-color: transparent;
    color: white;
    width:auto;
}
.span-help{
    font-size: 14px;
}
.admin-button {
    border: 2px solid #FFFFFF;
    font-size: 15px;
    border-radius: .8rem;
    margin-right: 5px ;
    text-decoration: none;
    padding: .5% 3%;
    min-width: 95px;
}
.avatar-edit img{
    border-radius: 50%;



}
.avatar-edit{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 80px;
    max-height: calc(4.63vh * 2);
}
.avatar-edit .text-edit{
    font-size: 1.188rem ;
    background-color: #7F00C7;
    border-radius: 8px;
    margin: 0 13px;
    padding: 3px 7px;
}

div.scroll
{
    max-height: 55.55555556vh;
    min-height: 480px;
    overflow-y:scroll;
}
.scroll::-webkit-scrollbar {
    width: .5em;
}

.scroll::-webkit-scrollbar-track {
    scrollbar-color: rgb(45, 48, 53) #141620;
    scrollbar-width: thin;
}

.scroll::-webkit-scrollbar-thumb {
    scrollbar-color: rgb(45, 48, 53) #141620;
    scrollbar-width: thin;
}

.scroll {
  scrollbar-color: rgb(45, 48, 53) #141620;
  scrollbar-width: thin;
}

.total-deposited2{
    display: flex;
    align-items: center;
    padding: 0 5% 0 2.5%;
    font-size: 18px;
    border-top: 1px solid #707070;
    min-height: 40px;
    height: 4.63vh

}
.insert-code{
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #353B54;
    color: rgba(242,242,242,1);
    border: none;
    outline: none;
    box-sizing:unset;
    font-size: 18px;
    padding: 0;
    font-weight: bold;
}
@media screen and (max-width: 991px) {
    .box-columns{
        flex-wrap: wrap;
    }
    .small-div{
        padding: 0 5px!important;
    }

    }
