div div.modal-dialog-referrals{
    font-weight: bold;
    width: 80vw;
    height: auto;
    max-width: 1070px;
    margin: 4% auto;
    display: flex;

}
div div.modal-content-referrals{
    background-color:#202433;
    border: 0;
}
.div-info-top{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 1.5% auto;
    height: 171px;
    align-items: center;
    background-color: #181B26;
    padding: 4% 0;
    align-items: baseline;
}
.div-second-top{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 4%;
}
.second-span-top{
    font-weight: 600;
    font-size: 0.83rem;
    color: #999;
}
.col-cont{
    display: flex;
    flex-direction: column;
}
.title{
    display: flex;
    background-color: #261d1d36;
}
div div.row-col-list{
    display: flex;
    flex-direction: row;
    padding-bottom: 2.5%;
}
.col-list-1{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    background-color: #202433;


}
.title-2{
    display: flex;
    justify-content: center;
    background-color: #202433;
}

.set-code{
    display: flex;
    background-color:  #505157;
    color: #b3adad;
    border: none;
    outline: none;
    box-sizing:unset;
    font-size: 13px;
    padding: 1.3%;
    font-weight: 400;
    height: fit-content;
    align-self: center;
    width: 85%;
}
.set-code:active{
    background-color:  #505157;
    color: #b3adad;
}
.set-code:focus{
    border: 2px solid #00C74D;
    background-color:  #505157;
    color: #b3adad;
}

.ins-ref{
    margin-top: auto;
    margin-bottom: auto;
}
.ins-code{
    display: flex;
    min-width: 85%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #181B26;
    color: rgba(242,242,242,1);
    border: none;
    outline: none;
    box-sizing:unset;
    font-size: 18px;
    padding: 0;
    font-weight: bold;
}
div div.div-text-ref{
    padding-top: 2%;
    padding-bottom: 1%;
    color: #999;
}

.col-list-2{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;

}
.title-3{
    display: flex;
}
.column-scroll{
    display: flex;
    flex-direction: column;
}
.ref-list{
    display: flex;
    flex-direction: row;
    background-color: #00C74D;
    justify-content: space-between;
    font-size: 18px;
    min-height: 40px;
    height: 4.63vh;
    align-items: center;
    border-top: 1px solid #707070;
    flex-grow: 0;
    flex-shrink: 0;
}
.Name{
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-left: 2%;
}
.Coins{
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding-right: 2%;
}
.total-referral{
    display: flex;
    padding-right: 3%;
    padding-left: 3%;
    font-size: 14px;
    background-color: #181B26;
}
.text-edit{
    color: rgba(242,242,242,1);
    text-decoration: none;
}

div button.claim-button {
    background-color:#00C74D;
    font-size: 15px;
    text-decoration: none;
    min-height: 27px;
    min-width: 80px;
    height: 100%;
    margin-left: 7px;
    width: 5.5vw;
}
div button.referrals-button {
    background-color:#505157;
    font-size: 15px;
    text-decoration: none;
    min-height: 40px;
    min-width: 80px;
    height: 100%;
    width: 100%
}
div button.referrals-button:focus{
    background-color: #171718;
}
.div-btn-ref{
    display: flex;
    height: 100%;
    width: 100%;
    min-width: 85px;
}
.div-btn-price{
    display: flex;
    height: 100%;
}
.right-price{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: fit-content;
    margin-top: 1%;
    margin-right: 2%;
    justify-content: end;
}
.referrals-button {
    background-color: #505157;
    font-size: 15px;
    text-decoration: none;
    min-height: 40px;
    min-width: 80px;
    height: 100%;
}
.first-span-list{
    width: 10%;
    font-size: 1.25rem;
    font-weight: 800;
    padding: 0 1%;
}
.second-span-list{
    width: 80%;
    font-size: 14px;
    font-weight: 500;
}
.third-span-list{
    width: 10%;
    font-size: 1.25rem;
}
div.div-line{
    background-color: #181B26;
    padding: 1% 0;
    margin-top: 0;
}
.referral-store{
    display: flex;
    margin: 1.5% 3% 0% 3%;
    background-color: #181B26;
    height: 200px;
}
.second-referral-store{
    display: flex;
    width: 50%;
    height: fit-content;
    margin-top: 1%;
    margin-left: 2%;
}
.ref-store-text{
    color: #F2F2F2;
    font-size: 1.36666666rem;
}
.selected-items-ref{
    font-weight: 400;
    align-self: center;
    margin-left: 3%

}
.value-ref{
    margin-left: 1%;
    color: #F2F2F2;
    font-size: 1.16666666rem;
    align-self: center;
}
.form-outline{
    display: flex;
    margin: 0 2%;
}
div.form-outline .form-control{
    padding: .5rem .5rem;
    background-color: #505157;
    margin-top: 1%;
    border-radius: 0;
    font-size: 14px;
    color: #F2F2F2;
}
div.form-outline .form-control:focus{
    color: #F2F2F2;
}
.form-outline input::placeholder{
    color: #d4dadf;
}
.first-div-btn-ref{
    display: flex;
    flex-direction: row;
    margin: 1.5% 3% 0% 3%;
}

@media screen and (max-width: 880px) {
    div.row-col-list{
        flex-wrap: wrap;
    }
    div.col-list-1, .col-list-2{
        width: 100% ;
        flex-basis: auto ;
        margin-top: 3%;
    }
    div.ref-list{
        min-height: auto;
        font-size: 16px;
    }
    div button.referrals-button{
        font-size: 11px;
    }
    div.first-div-btn-ref{
        margin-top: 15px;
    }
    div span.first-span-list{
        width: 21%;
        font-size: 11px;
        display: flex;
        align-self: center;
    }
    div span.second-span-list {
        width: 62%;
        font-size: 11px;
    }
    div span.third-span-list {
        width: 17%;
        font-size: 11px;
        align-self: center;
        justify-content: end;
      }
    div.first-referral-store{
          flex-direction: column;
      }
    div.second-referral-store{
        justify-content: space-around;
        width: 100%;
        margin-left: 0px;
        flex-direction: row;
    }
    div span.ref-store-text{
        color: #F2F2F2;
        font-size: 14px;
    }
    div span.selected-items-ref{
        font-size: 11px;
    }
    div span.value-ref{
        font-size: 13px;
    }
    div.right-price{
        width: 100%;
        justify-content: center;
        margin-top: 3%;
    }
    div.total-referral{
        font-size: 11px;
        font-weight: 800;
    }
    div button.claim-button{
        font-size: 12px;
        font-weight: 600;
    }
    div.first-div-btn-ref{
        margin-top: 6%;
        
    }
    div.div-line{
        padding: 3% 2%;
        min-height: 53.46px;
    }
    div.referral-store{
        margin-top: 3%;
    }
    div.form-outline{
        margin-top: 3%;
    }
    div.div-info-top{
        margin-top: 11%;
        height: 171px;
        align-items: baseline;
        padding: 7.5% 0;
    }
    div.div-second-top{
        padding: 0 2%;
    }
    div.div-second-top span:first-child{
        font-size: 16px !important;
    }
    div span.second-span-top{
        font-size: 13px;
    }
}
@media screen and (max-width: 500px) {
    div div.modal-dialog-referrals{
        width: auto;
    }
}