div input.big{
    display: flex;
    padding: none;

}
.col-cont{
    display: flex;
    flex-direction: column;
}
.title{
    display: flex;
    background-color: #261d1d36;
}
.row-col-list{
    display: flex;
    flex-direction: row;
}
.col-list-1{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    

}
.title-2{
    display: flex;
    justify-content: center;
    background-color: #141620;
}
.col-set{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.set-ref-box{
    width: 100%;
    background-color: #181B26;
    padding: 1%
}
.set-code-box{
    width: 100%;
    background-color: #141620;
}
.set-codeb-box{
    width: 100%;
    background-color: #181B26;
    padding: 2%
}
.set-ref{
    margin-top: 2%;
    margin-bottom: 2%;

}
.set-code{
    display: flex;
    min-width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #141620;
    color: #141620;
    border: none;
    outline: none;
    box-sizing:unset;
    font-size: 18px;
    padding: 0;

}
.set-code:active{
    background-color: #141620;
    color: #141620;
}
div input.set-codeb{
    margin-top: 2%;
    margin-bottom: 2%;
    background-color:#00C74D;
    border-radius: .8rem;
    min-width: 13%;

}
.col-ins{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ins-ref-box{
    width: 100%;
    background-color: #141620;
    padding: 1%
}
.ins-code-box{
    width: 100%;    
    background-color: #181B26;
} 
.ins-codeb-box{
    width: 100%;
    background-color: #141620;
    padding: 2%
}
.ins-ref{
    margin-top: 2%;
    margin-bottom: 2%;
}
.ins-code{
    display: flex;
    min-width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #181B26;
    color: #181B26;
    border: none;
    outline: none;
    box-sizing:unset;
    font-size: 18px;
    padding: 0;
}
div input.ins-codeb{
    margin-top: 2%;
    margin-bottom: 2%;
    background-color:#00C74D;
    border-radius: .8rem;
    min-width: 13%;


}
.col-list-2{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;

}
.title-3{
    display: flex;
}
.column-scroll{
    display: flex;
    flex-direction: column;
}
.ref-list{
    display: flex;
    flex-direction: row;
    background-color: #00C74D;
    min-height: 7%;
}
.Name{
    display: flex;
    flex-direction: row;
    justify-content: left;
    min-width: 50%;
    padding-left: 2%;
}
.Coins{
    display: flex;
    flex-direction: row;
    justify-content: right;
    min-width: 50%;
    padding-right: 2%;
}
